:root {
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;
}

a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--main);
  text-decoration: none;
  transition: color 300ms ease-in-out;
}
a:hover {
  background: var(--button-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  border-radius: 12px;
  border: none;
  background: var(--button);
  transition: background-color 300ms ease-in-out;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);
}
button:hover {
  background: var(--button-hover);
  outline: none;
}

button:focus,
button:focus-visible {
  outline: none;
}
